<h2 class="text-center">Patients Information</h2>
<table class="table table-striped table-bordered">
    <thead class="thead-dark" style="background-color: black;color: aqua;">
        <tr>
            <td>Patient Name</td>
            <td>Doctor on visit</td>
            <td>Date of visit</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients"> 
            <td>{{patient.name}}</td>
            <td>{{patient.visiteddoctor}}</td>
            <td>{{patient.date}}</td>
        </tr>
    </tbody>
</table>

